<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body class="inner">
    <div class="container  my-5 card">
        <div class="row">
            <div class="py-large col-lg-6 inner-section  pl-4 pr-5 ">
                <a class="inner-link" href="http://127.0.0.1:8000/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                    </svg> Home</a>

                <div class="section-title mt-3" style="margin-bottom: 45px;">
                    <h3>Text to Sign Language(NSL)</h3>
                    <span style="margin-left: 0;"></span>
                </div>
                <form class="mb-4" action="" onsubmit="return validateNForm()" method="post" align="left">
                    {% csrf_token %}
                    <label>Enter Text</label>
                    <input type="text" name="sen" class="mytext" id="nspeechToText" placeholder="">
                    <button type="submit" class="submit btn-submit">Submit</button>

                </form>
                    <div class="mb-4">
                        <p>Entered Text:</p>
                        <div class="text-box">
                            <span class="text-input">{{ text }}</span>

                        </div>
                    </div>
                    <div d="list" style="list-style: none;">
                        <p>Keywords in sentence: </p>

                        <div class="text-box" id="list">
                            {% for char in text %}
                            <span class="text-input">{{ char }}</span>
                            {% endfor %}
                        
                        </div>
                    </div>
            </div>


        <div class="col-lg-6 d-flex align-items-center justify-content-center bg" style="background-image: url('../static/assets/img/abstrac.jpg');">
            <div class="px-4 py-5">

                <div style="text-align:center"> &nbsp&nbsp
                    <button class="submit btn-vid" onclick="playPause()">
                        Play Animation
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                            <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                        </svg>
                    </button>



                    <video id="videoPlayer" src="" width="600" height="350" preload="auto" autoplay>
                        <source src="" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                </div>
            </div>

        </div>
    </div>



    <script src="../static/assets/js/main.js"></script>
    <script>


        
        function validateNForm() {
            const alphabet = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z","०", "१", "२", "३", "४", "५", "६", "७", "८", "९","0","1","2","3","4","5","6","7","8","9"];
            var ip = document.getElementById("nspeechToText").value;
            
            if (ip === "") {
                alert("Input cannot be empty");
                return false; // Prevent form submission
            } else {
                ip = ip.toUpperCase();
                for (let i = 0; i < ip.length; i++) {
                    if (alphabet.includes(ip[i])) {
                        alert('Input contains invalid character');
                        return false; // Prevent form submission
                    }
                }
                return true;
            }
        }
        
        function play() {
            var videoSource = new Array();
            var videos = document.getElementById("list").getElementsByTagName("span");
            var j;
            for (j = 0; j < videos.length; j++) {
                
                videoSource[j] = "../static/assets/NSL/" + videos[j].textContent + ".mp4";
                console.log(videoSource);

            }

            var i = 0; // define i
            var videoCount = videoSource.length;

            function videoPlay(videoNum) {
                document.getElementById("list").getElementsByTagName("span")[videoNum].style.color = "#09edc7";
                document.getElementById("list").getElementsByTagName("span")[videoNum].style.fontSize = "xx-large";
                document.getElementById("videoPlayer").setAttribute("src", videoSource[videoNum]);
                document.getElementById("videoPlayer").load();
                document.getElementById("videoPlayer").play();

            }
            document.getElementById('videoPlayer').addEventListener('ended', myHandler, false);
            document.getElementById("list").getElementsByTagName("span")[0].style.color = "#09edc7";
            document.getElementById("list").getElementsByTagName("span")[0].style.fontSize = "xx-large";

            videoPlay(0); // play the video

            function myHandler() {
                document.getElementById("list").getElementsByTagName("span")[i].style.color = "#feda6a";
                document.getElementById("list").getElementsByTagName("span")[i].style.fontSize = "20px";
                i++;
                if (i == videoCount) {
                    document.getElementById("videoPlayer").pause();
                }
                else {
                    videoPlay(i);
                }
            }
        }

        function playPause() {
            if (document.getElementById("videoPlayer").paused) {
                play();
            }
            else {
                document.getElementById("videoPlayer").pause();
            }
        }

    </script>


</body>

</html>